<h1>Editing weapon property</h1>

<%= render "form", weapon_property: @weapon_property %>

<br>

<div>
  <%= link_to "Show this weapon property", @weapon_property %> |
  <%= link_to "Back to weapon properties", weapon_properties_path %>
</div>
