<div id="<%= dom_id trait %>">
  <p>
    <strong>Name:</strong>
    <%= trait.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= trait.desc %>
  </p>

  <p>
    <strong>Properties:</strong>
    <%= trait.properties %>
  </p>

</div>
