<div id="<%= dom_id language %>">
  <p>
    <strong>Name:</strong>
    <%= language.name %>
  </p>

  <p>
    <strong>Rarity:</strong>
    <%= language.rarity %>
  </p>

  <p>
    <strong>Script:</strong>
    <%= language.script %>
  </p>

</div>
