<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= skill.desc %>
  </p>

  <p>
    <strong>Ability score:</strong>
    <%= skill.ability_score %>
  </p>

</div>
